*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn-button{
  background-color: #db2777;
  border: 1px solid #db2777;
  padding:5px 11px;
  border-radius: 3px;
  color: #f9a8d4;
  font-weight: 400;
}

.btn-button:hover{
  background-color: #f9a8d4;
  padding:5px 11px;
  border-radius: 3px;
  color: #9d174d;
  border: 1px solid #9d174d;
  transition: .5s ease;
  font-weight: 400;
}

.borderColor{
  border: 1px solid #9d174d;
}
.buttonBg{
  background-color:#db2777;
  color:#fff;
}
.backgroundColorBody{
  background-color:#f9dbeb;
}
.textColor1{
  color:#9d174d;
}
.textColor2{
  color:#ec4899
}
.textColor3{
  color:#9d174d;
}
.textColor4{
  color:#f9a8d4
}
.itemsCenter{
  display:flex;
  justify-content:center;
  align-items:center;
}

/* all Cards */
.allCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

@media only screen and (max-width: 769px) {
  .allCards{
     grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 527px) {
  .allCards{
     grid-template-columns: repeat(1, 1fr);
  }
  .marginTopMV{
    margin-top: 25px;
  }
}
@media only screen and (max-width: 426px) {
  .allCards{
     grid-template-columns: repeat(1, 1fr);
  }
  .marginTopMV{
    margin-top: 25px;
  }
}